@*@model ISVLM2017.Domain.Model.ConfiguracionEjemplarViewModel*@

@using ISVLM2017.Domain.Model
@model ConfiguracionEjemplarViewModel

@{
    ViewBag.Title = "Configuracion Ejemplares";
}
<!-- CSS files (include only one of the two files!) -->
<!-- If you are using bootstrap: -->
<link rel="stylesheet" type="text/css" href="~/Content/datatable-bootstrap.min.css" media="screen">

<!-- JS files -->
<!-- Add the following if you want to use the jQuery wrapper (you still need datatable.min.js): -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" src="https://1000hz.github.io/bootstrap-validator/dist/validator.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="~/Scripts/datatable.min.js"></script>
<script type="text/javascript" src="~/Scripts/datatable.jquery.min.js"></script>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script type="text/javascript" src="https://1000hz.github.io/bootstrap-validator/assets/js/application.js"></script>
<script type="text/javascript">

    function S_ShowListaDetalle(response) {


        var tbl_Stock = $('#tbl_Stock');

        $("#tbl_Stock > tbody").html("");
        var thead = $('<thead/>');
        var tbody = $('<tbody/>');
        var th_tr = $('<tr/>');
        var th_th1 = $('<th/>');
        var th_th2 = $('<th/>');
        var th_th3 = $('<th/>');

        th_th1.text('Código');
        th_th2.text('Nombre');
        th_th3.text('Precio');

        th_tr.append(th_th1).append(th_th2).append(th_th3);
        thead.append(th_tr);


        $.each(response, function (i, item) {

            var stock_id = $.trim(response[i].stock_id);
            var stock_nombre = $.trim(response[i].stock_nombre);
            var stock_precio = $.trim(response[i].stock_precio);

            stock_id = parseInt(stock_id);


            var tr = $('<tr/>');
            var td1 = $('<td/>');
            var td2 = $('<td/>');
            var td3 = $('<td/>');
            var td4 = $('<td/>');

            var span4 = $('<span/>');
            var button4 = $('<button/>');

            td1.text(stock_id);
            td2.text(stock_nombre);
            td3.text(stock_precio);


            span4.addClass('table-edit');
            button4.addClass('btn btn-success btn-rounded btn-sm my-0').attr("data-toggle", "modal").attr("data-target", "#myModal").text('Agregar');




            span4.append(button4);
            td4.append(span4);


            tr.append(td1).append(td2).append(td3).append(td4);
            tbody.append(tr);


        });
        tbl_Stock.append(thead);
        tbl_Stock.append(tbody);


    }

    function S_ShowConfEjemplares(response) {


        var tbl_Stock = $('#tbl_ConfEjemplares');

        $("#tbl_ConfEjemplares").html("");
        var thead = $('<thead/>');
        var tbody = $('<tbody/>');
        var th_tr = $('<tr/>');
        var th_th1 = $('<th/>');
        var th_th2 = $('<th/>');
        var th_th3 = $('<th/>');

        th_th1.text('Nombre');
        th_th2.text('Transacción');
        th_th3.text('Ejemplar');

        th_tr.append(th_th1).append(th_th2).append(th_th3);
        thead.append(th_tr);


        $.each(response, function (i, item) {

            var conf_ejemplares_id = $.trim(response[i].conf_ejemplares_id);
            var stock_nombre = $.trim(response[i].stock_nombre);
            var codigodetalle_descrip = $.trim(response[i].codigodetalle_descrip);
            var nombre_ejemplar = $.trim(response[i].nombre_ejemplar);


            var tr = $('<tr/>');
            var td1 = $('<td/>').hide();
            var td2 = $('<td/>');
            var td3 = $('<td/>');
            var td4 = $('<td/>');
            var td5 = $('<td/>');


            var span5 = $('<span/>');
            var button5 = $('<button/>');



            td1.text(conf_ejemplares_id);
            td2.text(stock_nombre);
            td3.text(codigodetalle_descrip);
            td4.text(nombre_ejemplar);


            span5.addClass('table-remove');
            button5.addClass('btn btn-danger btn-rounded btn-sm my-0').text('Remove');

            span5.append(button5);
            td5.append(span5);



            tr.append(td1).append(td2).append(td3).append(td4).append(td5);
            tbody.append(tr);


        });
        tbl_Stock.append(thead);
        tbl_Stock.append(tbody);


    }

    function S_LLenarSemanas(response) {


        var cb_semana = $('#cb_semana');
        cb_semana.html("");

        cb_semana.append(new Option("Seleccione", "0"));
        $.each(response, function (i, item) {
            var codigodetalle_id = $.trim(response[i].codigodetalle_id);
            var codigodetalle_descrip = $.trim(response[i].codigodetalle_descrip);
            cb_semana.append(new Option(codigodetalle_descrip, codigodetalle_id));
        });


    }

    function S_LLenarTransacciones(response) {


        var cb_transaccion = $('#cb_transaccion');
        cb_transaccion.html("");

        cb_transaccion.append(new Option("Seleccione", ""));
        $.each(response, function (i, item) {
            var codigodetalle_id = $.trim(response[i].codigodetalle_id);
            var codigodetalle_descrip = $.trim(response[i].codigodetalle_descrip);
            cb_transaccion.append(new Option(codigodetalle_descrip, codigodetalle_id));
        });


    }

    function S_LLenarEjemplares(response) {


        var cb_ejmplar = $('#cb_ejmplar');
        cb_ejmplar.html("");

        cb_ejmplar.append(new Option("Seleccione", ""));
        $.each(response, function (i, item) {
            var codigodetalle_id = $.trim(response[i].codigodetalle_id);
            var codigodetalle_descrip = $.trim(response[i].codigodetalle_descrip);
            cb_ejmplar.append(new Option(codigodetalle_descrip, codigodetalle_id));
        });


    }

    function MostrarListaEjemplares(conf_dia_semana_) {

        var ObjectData = new Object();
        ObjectData.conf_dia_semana_ = conf_dia_semana_;
        var stringify = JSON.stringify(ObjectData);

        $.ajax({
            type: "POST",
            url: "/ConfiguracionEjemplar/MostrarListaEjemplares",
            data: stringify,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                S_ShowConfEjemplares(response);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

    function AgregarStckConf(nuevoConfiguracionEjemplar) {

        var ObjectData = new Object();
        ObjectData.nuevoConfiguracionEjemplar = nuevoConfiguracionEjemplar;
        var stringify = JSON.stringify(ObjectData);

        $.ajax({
            type: "POST",
            url: "/ConfiguracionEjemplar/AgregarStckConf",
            data: stringify,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                S_ShowConfEjemplares(response);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }




    function EliminarStckConf(nuevoConfiguracionEjemplar) {

        var ObjectData = new Object();
        ObjectData.nuevoConfiguracionEjemplar = nuevoConfiguracionEjemplar;
        var stringify = JSON.stringify(ObjectData);

        $.ajax({
            type: "POST",
            url: "/ConfiguracionEjemplar/EliminarStckConf",
            data: stringify,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                S_ShowConfEjemplares(response);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }



    /* First example */

    var g_accion = '', g_stock_id, otable = '';
    $(document).ready(function () {

        S_LLenarSemanas( @Html.Raw(Json.Encode(Model.Semanas)));
        S_LLenarTransacciones( @Html.Raw(Json.Encode(Model.Transacciones)));
        S_LLenarEjemplares( @Html.Raw(Json.Encode(Model.Ejemplares)));
        S_ShowListaDetalle( @Html.Raw(Json.Encode(Model.Stockconf)));
        S_ShowConfEjemplares( @Html.Raw(Json.Encode(Model.ConfEjemplares)));


        $('#first-datatable-output').html($('#first-datatable-without').html());


        otable = new DataTable(document.querySelector('#first-datatable-output table'), {
            //  otable = $('#tbl_Stock').datatable({
            "destroy": true,
            pageSize: 5,
            pagingDivSelector: '#paging-first-datatable',
            sort: [true, true, true],
            filters: [true, true, true],
            //  filters: [true, false, 'select'],
            filterText: 'Type to filter... ',
            onChange: function (o, n) {             
            }

        });


        $('#formBilletes').validator().on('submit', function (e) {
            if (!(e.isDefaultPrevented())) {
                //  var stock_id = g_stock_id
                var stock_id = $.trim($('#txt_codigo').val());
                var stock_nombre = $.trim($('#txt_nombre').val());
                var stock_precio = $.trim($('#txt_precio').val());
                var stock_comision_canilla = $.trim($('#txt_comVendedor').val());
                var stock_comision_distribuidor = $.trim($('#txt_comDistrinuidor').val());
                var stock_tipomercaderia = $.trim($('#cb_tipomercaderia').val());
                var stock_fechaventa = $.trim($('#dtp_fechadistribucion').val());
                var proveedor_id = $.trim($('#cb_proveedor').val());
                var stock_marca = $.trim($('#cb_tipomarca').val());

                var g_accion_ = g_accion;
                if (stock_nombre == null) stock_nombre = '';

                var nuevoStock = {};
                nuevoStock.stock_id = stock_id;
                nuevoStock.stock_nombre = stock_nombre;
                nuevoStock.stock_precio = stock_precio;
                nuevoStock.stock_comision_canilla = stock_comision_canilla;
                nuevoStock.stock_comision_distribuidor = stock_comision_distribuidor;
                nuevoStock.stock_tipomercaderia = stock_tipomercaderia;
                nuevoStock.stock_fechaventa = stock_fechaventa;
                nuevoStock.proveedor_id = proveedor_id;
                nuevoStock.stock_marca = stock_marca;

                GuardarStock(nuevoStock, g_accion_);
            }
            return false;
        });


        $('#cb_semana').on('change', function (e) {
            e.preventDefault();

            var link = $('#myTab .active').next().children('a').attr('href');
            $('#myTab a[href="' + link + '"]').tab('show');
         //   $('#myTab a[href="' + link + '"]').html('Modificar');


            $('#myTab a[href="#first-datatable-javascript"]').tab('show');
            //     $('#myTab a[href="#first-datatable-javascript"]').html('Modificar');
            var conf_dia_semana_ = $(this).val();
            MostrarListaEjemplares(conf_dia_semana_);        

            return false;
        });

        $('body').on('click', '.table-edit', function (e) {
            e.preventDefault();

            var link = $('#myTab .active').next().children('a').attr('href');
            $('#myTab a[href="' + link + '"]').tab('show');
           // $('#myTab a[href="' + link + '"]').html('Modificar');

            $('#myTab a[href="#first-datatable-javascript"]').tab('show');
         //   $('#myTab a[href="#first-datatable-javascript"]').html('Modificar');

            var conf_dia_semana = $.trim($('#cb_semana').val());
            var stock_id = $.trim($(this).parents("tr").find("td:eq(0)").html());
            var conf_transaccion = $.trim($('#cb_transaccion').val());
            var conf_ejemplar = $.trim($('#cb_ejmplar').val());         

            var nuevoConfiguracionEjemplar = {};
            nuevoConfiguracionEjemplar.conf_dia_semana = conf_dia_semana;
            nuevoConfiguracionEjemplar.stock_id = stock_id;
            nuevoConfiguracionEjemplar.conf_transaccion = conf_transaccion;
            nuevoConfiguracionEjemplar.conf_ejemplar = conf_ejemplar;

            AgregarStckConf(nuevoConfiguracionEjemplar);

            return false;
        });

        $('body').on('click', '.table-remove', function (e) {
            //  $('.table-remove').on('click', function (e) {
            e.preventDefault();
           
            var conf_ejemplares_id = $.trim($(this).parents("tr").find("td:eq(0)").html());
            var conf_dia_semana = $.trim($('#cb_semana').val());

            var nuevoConfiguracionEjemplar = {};
            nuevoConfiguracionEjemplar.conf_ejemplares_id = conf_ejemplares_id;
            nuevoConfiguracionEjemplar.conf_dia_semana = conf_dia_semana;
            EliminarStckConf(nuevoConfiguracionEjemplar);
            return false;
        });


        $('#myTab a[href="#first-datatable-output"]').on('click', function (e) {
            e.preventDefault();
            //  $('#myTab a[href="#first-datatable-javascript"]').html('Nuevo');
            g_accion = "Agregar";
            g_stock_id = 0;

        });
        $('#myTab a[href="#first-datatable-javascript"]').on('click', function (e) {
            e.preventDefault();
            g_accion = "Agregar";
            g_stock_id = 0

        });


    });


</script>


<div class="form-group">
    <label for="cb_semana" class="control-label col-sm-3">Dia</label>
    <div class="col-sm-8">
        <select class="form-control" id="cb_semana"></select>    
    </div>
</div> 
<div class="form-group">
    <label for="cb_transaccion" class="control-label col-sm-3">Transacción</label>
    <div class="col-sm-8">
        <select class="form-control" id="cb_transaccion" ></select>    
    </div>
</div> 
<div class="form-group">
    <label for="cb_ejmplar" class="control-label col-sm-3">Ejemplar</label>
    <div class="col-sm-8">
        <select class="form-control" id="cb_ejmplar" ></select>    
    </div>
</div> 



<div role="tabpanel">
    <!-- Nav tabs -->
    <ul id="myTab" class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#first-datatable-output" aria-controls="first-datatable-output" role="tab" data-toggle="tab">Lista Stock</a></li>
        <li role="presentation"><a href="#first-datatable-javascript" aria-controls="first-datatable-javascript" role="tab" data-toggle="tab">Lista Configuración de ejemplares</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="first-datatable-output">

        </div>
        <div role="tabpanel" class="tab-pane" id="first-datatable-without">
            <table id="tbl_Stock" class="table table-bordered"></table>
            <div id="paging-first-datatable"></div>

          
          
        </div>

        <div role="tabpanel" class="tab-pane" id="first-datatable-javascript">
           
            <table id="tbl_ConfEjemplares" class="table table-bordered"></table>

        </div>

    </div>
</div>
